<div id="imagesbar">
    <img src="https://assets.pharmeasy.in/web-assets/dist/0ad2d80a.png" alt="" />
    <img src="https://assets.pharmeasy.in/web-assets/dist/6e630ccf.png" alt="" />
    <img src="https://assets.pharmeasy.in/web-assets/dist/c9bd8df2.png" alt="" />
    <img src="https://assets.pharmeasy.in/web-assets/dist/748e0da8.png" alt="" />
    <img src="https://assets.pharmeasy.in/web-assets/dist/aada0d0d.png" alt="" />
    <img src="https://assets.pharmeasy.in/web-assets/dist/091811c4.png" alt="" />
</div>