<div class="offers">
    <img src="https://assets.pharmeasy.in/web-assets/dist/67890676.svg" alt="" />
    <h2>Offers Just For You</h2>
</div>

<div class="carousel" data-flickity='{ "groupCells": 5,"autoplay":true  }'>
    <% for(let i=0; i<=10; i++) { %>
        <div class="carousel-cell">
            <div class="offerslide">
                <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100"
                    alt="" />
                <div>
                    <p>
                        Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
                        STAYHOME
                    </p>
                </div>
            </div>
        </div>
    <% } %>
</div>