<header>
    <div class="head" onclick="(window.location.href='/')">
        <img src="https://assets.pharmeasy.in/web-assets/dist/fca22bc9.png" alt="logo" />
    </div>
    <div class="headright">
        <img src="https://assets.pharmeasy.in/web-assets/dist/1fe1322a.svg" alt="logo2" />
    </div>
</header>

<style>
    .lohead {
        width: 90%;
        height: 90px;
        background-color: rgb(16, 132, 126);
    }

    .head{
        cursor: pointer;
    }

    .head>img {
        width: 40%;
        /* padding-top: 20px; */
        display: flex;
        background-color: rgb(16, 132, 126);
        height: 40px;
        padding-left: 4%;
    }

    .headright>img {
        margin-left: 250px;
        height: 70px;
        /* margin-top: -40px; */
        width: 130px;
        float: left;
    }
</style>