<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    PharmEasy: Online Pharmacy & Medical Store in India | 5M+ ... pharmeasy.in
  </title>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="/css/cart.css" />
  <link rel="stylesheet" href="/css/view_cart.css" />
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %>

    <div class="top_bar">
      <div class="top_fir">Home</div>
      <div class="top_im">
        <img src="https://freepngimg.com/thumb/web_design/24713-2-right-arrow-transparent-background.png" alt="" />
      </div>
      <div class="top_sec">Order Medicine Online</div>
    </div>

    <div style="margin-left: 250px" class="medic">
      <h1>Order Medicine Online</h1>
    </div>

    <!-- empty cart starts here -->
    <div id="carterer">
      <div class="cart_box">
        <div class="cart_box1">
          <img src="https://assets.pharmeasy.in/web-assets/dist/8bfde66a.svg" alt="" />
          <p>Flat 15% off</p>
          <img src="https://assets.pharmeasy.in/web-assets/dist/adb9b646.svg" alt="" />
          <p>1 Lakh+Products</p>
          <img src="https://assets.pharmeasy.in/web-assets/dist/9279f530.svg" alt="" />
          <p>Easy Return</p>
        </div>
        <div class="cart_box2">
          <p>Search for Medicines/Healthcare Products</p>
        </div>
        <div class="cart_box3">
          <p>Select Pincode</p>
          <img src="https://image.flaticon.com/icons/png/128/25/25243.png" alt="" />
          <div></div>
          <input type="text" placeholder="e.g. Ecosprin, Telma or Colgate" class="Search" / id="search12345">
          <a class="search" href="#"><img src="https://image.flaticon.com/icons/png/128/2089/2089805.png" alt="" /></a>
        </div>
      </div>
      <div class="cart_right">
        <div class="first_class">
          <div class="first_img">
            <img src="https://assets.pharmeasy.in/web-assets/dist/ef63c33a.svg" alt="" />
          </div>
          <div class="first_para1">Order via Prescriptions</div>
          <div class="img_fir">
            <img src="https://freepngimg.com/thumb/web_design/24713-2-right-arrow-transparent-background.png" alt="" />
          </div>
        </div>
        <div class="second_class">
          <div class="first_img">
            <img src="https://assets.pharmeasy.in/web-assets/dist/8dfc9006.svg" alt="" />
          </div>
          <div class="first_para">Don’t have a Prescription?</div>
          <div class="img_fir">
            <img src="https://freepngimg.com/thumb/web_design/24713-2-right-arrow-transparent-background.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- img slider -->
    <div id="imagesbar">
      <img src="https://assets.pharmeasy.in/web-assets/dist/0ad2d80a.png" alt="" />
      <img src="https://assets.pharmeasy.in/web-assets/dist/6e630ccf.png" alt="" />
      <img src="https://assets.pharmeasy.in/web-assets/dist/c9bd8df2.png" alt="" />
      <img src="https://assets.pharmeasy.in/web-assets/dist/748e0da8.png" alt="" />
      <img src="https://assets.pharmeasy.in/web-assets/dist/aada0d0d.png" alt="" />
      <img src="https://assets.pharmeasy.in/web-assets/dist/091811c4.png" alt="" />
    </div>
    <!-- offer -->
    <div class="offers">
      <img src="https://assets.pharmeasy.in/web-assets/dist/67890676.svg" alt="" />
      <h2>Offers Just For You</h2>
    </div>

    <div class="carousel car_1" data-flickity='{ "groupCells": 4,"autoplay":true  }'>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell car_2">
        <div class="offerslide sli_1">
          <img src="https://cms-contents.pharmeasy.in/offer/1cc6737ebd0-PELOGO.png?dim=60x0&dpr=1.25&q=100" alt="" />
          <div class="pa_1">
            <p>
              Flat 20% off + 20% <br />Cashback on your 1st... <br />Code:
              STAYHOME
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ref -->
    <div class="Qu">
      <h4>Get 3-Step Quality-Checked Medicines</h4>
      <p>
        PharmEasy is a one-stop-shop for all your healthcare needs. We have 1L+
        products for you to choose from. Buy medicines online at affordable
        prices from the comforts of your home in just a few clicks and get them
        delivered at your doorstep. <br />

        The entire process of shopping for medicines is hassle-free and
        convenient. All you have to do is search for the products you need on
        our website or app, add to cart and then proceed with the checkout
        process. <br />

        With our scheduled refill reminder, you don’t even need to keep track of
        your refill dates. <br />

        What’s more, we have great offers, with added discounts and massive
        e-wallet cashbacks on purchasing medicines!
      </p>
    </div>

    <!-- guide_line -->
    <div>
      <div></div>
    </div>

    <!-- Footer -->
    <hr>
    <%- include('../partials/footer') %>

      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
      <script src="/path/to/flickity.pkgd.min.js"></script>
</body>

</html>
<script src="../src/login.js"></script>
<script src="../src/signup.js"></script>
<script src="../src/pincode.js"></script>